{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section id="two">
    <div class="inner">
        <header class="major">
            <h1>Ghibli API</h1>
        </header>
        <div class="content">
            <p><b>¿Estas preparado para lo que aquí te aguarda?<br/>
            La vida es extraña, tan solo una fantasía de la que se aprovechan los humanos.<br>
            Aquí encontrarás información acerca de las películas relacionadas con Studio Ghibli.</b></p>
            <span><p><b>¡EMPECEMOS!</b></p></span>
            <a href="/peliculas"><img src="/static/images/logo.png" alt="Logo"/></a>
        </div>
    </div>
</section>
{% endblock %}